html,
body {
    background-color: #fff;
    color: #636b6f;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}
.flex {
    display: flex;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #000;
}

/**** end of auto setups ****/

.nav-links {
    display: flex;
    justify-content: space-between;
    background-color: #e6e6fa;
    padding: 10px 50px;
}
.nav-links a:hover {
    background-color: #bfbfca;
}
.nav-links a {
    transition: all 0.3s ease-in;
    padding: 10px 20px;
}
.nav-link-auth a {
    text-decoration: none;
    color: #000;
    padding: auto 20px;
}
.profile-side-nav {
    width: 20%;
}
.profile-content {
    text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
.profile-content div {
    background-color: #dfe3ee;
    margin: 5px;
    width: 100%;
    color: #000;
}

.profile-side-nav ul li {
    padding-bottom: 20px;
}
.container {
    max-width: 1230px;
    margin: auto;
}
.about-content {
    text-align: center;
    width: 60%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}
